@import "tailwindcss";

@theme {
  /* UI Layout Colors */
  --color-ui-dark-100: #101010;
  --color-ui-dark-150: #151515;
  --color-ui-dark-200: #020202;
  /* UI Text Colors */
  --color-ui-gray-100: #c8c8c8;
  --color-ui-gray-200: #707070;
  /* UI Dynamic Component Colors */
  --color-ui-pink-100: #fb64b6;
  --color-ui-purple-100: #be5feb;
  --color-ui-red-100: #ff6666;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background-color: #2e2e2e; border-radius: 1px; background-clip: content-box; }
::-webkit-scrollbar-thumb:hover { background-color: #2e2e2e; }


dialog[open] {
  z-index: 100;
  scale: 1;
  transition: scale .3s ease-in-out;

  @starting-style { scale: 0; }
}

dialog {
  transition: scale .3s ease, display .3s ease allow-discrete;
  scale: 0
}

audio { display: none; }

body { user-select: none; }

/* * { outline: 1px solid red; } */